
/* Formulaire - poster une recette */
* {
    font-family: 'Slabo 27px', serif;
    color: #3d3d3d;
}

body {
    background-color: #F6E2C8;
}


#mainTitle {
    font-size: 2em;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 2vh;
    margin-top: 5vh;
    padding-bottom: 3vh;
    border-bottom: #3d3d3d solid 2px;
}

#proposerRecette {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    background-image: url(./photos/fondForm.jpg);
    background-size: cover;
    width: 80%;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    border-radius: 1em;
    padding: 3vh 0;
}

#recipeForm {
    opacity: 0.80;
    margin-top: 1vh;
    padding: 0 3em;
}

#recipeForm input {
    width: 100%;
    margin-bottom: 2vh;
}


legend {
    font-size: 2em;
    color: #fffaf5;
    text-shadow: 1px 1px 2px black;
    text-align: start;
    margin-left: -2%;
    padding-bottom: 2vh;
}

label {
    font-size: 1.5em;
    color: #f5cd79;
    text-shadow: 1px 1px 2px black;
    text-align: left;
}

textarea {
    width: 100%;
    border-radius: 5px;
    background: white;
    border: none;
    padding: 0.5vw 0.5vw;
    margin-bottom: 2vh;
    font-size: 1.2em;
}

#userName {
  border-radius: 5px;
  background: white;
  border: none;
  padding: 0.5vw 0.5vw;
  margin-bottom: 0.5vw;
}

#userRecipe {
  border-radius: 5px;
  background: white;
  border: none;
  padding: 0.5vw 0.5vw;
  margin-bottom: 0.5vw;
}

#img {
    border-radius: 5px;
    background: white;
    border: none;
    padding-right: 1vw;
}

button {
  border-radius: 5px;
  background: #5F5153;
  color: white;
  border: none;
  padding: 1vw 2vw;
  margin-top: 5vh;
  margin-bottom: 2vh;
  margin-left: 45%
}

button:hover {
    cursor: pointer;
}
