/*Formulaire*/

main {
  background-image: url("photos/serviette_grd.jpg");
  background-size: cover;
  width: 100%;
}

section > #boite {
  font-size: 2em;
}

main > h1 {
  text-align: center;
  font-size: 12vh;
  color: white;
}

input {
  font-size: 3vh;
}

#formulaire_contact {
  text-align: center;
  font-size: 4vh;
  color: white;
  padding-top: 7vh;
  padding-bottom: 7vh;
  background: linear-gradient(#b4a18f, #525252);
}

#boite {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
}

#name {
  width: 20vw;
  height: 7vh;
  margin-left: 3vw;
  border-radius: 10px;
}

#email {
  width: 20vw;
  height: 7vh;
  margin-top: 1vh;
  margin-left: 3vw;
  border-radius: 10px;
}
textarea {
  font-size: 1em;
}

#message {
  width: 50vw;
  height: 30vh;
  margin-top: 8vh;
  margin-left: 3vw;
  border-radius: 10px;
}

#envoyer {
  margin-left: 3vw;
  margin-top: 1vh;
  height: 5.5vh;
  border-radius: 10px 100px / 120px;
}
