* {
    margin: 0;
    font-family: 'Slabo 27px', serif;
    color: #3d3d3d;
    box-sizing: border-box;
}

main {
    background-color: white;
    margin: 0 10vw 0 10vw;
}

body {
    background-color: lightgray;
}


/* Header */

ul {
    list-style-type: none;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    transition: 0.6s ease;
    top: 0;
    left: 0;
    z-index: 1;
}

header.sticky {
    padding: 5px 100px;
    background: #fff;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 3em;
    letter-spacing: 2px;
    transition: 0.6s ease;
}

header .sticky .logo {
    color: lightgray;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
}

header a:hover {
    color: #f5cd79;
    text-decoration: underline;
    transition: 0.6s ease;
}

header ul li a {
    position: relative;
    text-decoration: none;
    color: #eeaf79;
    letter-spacing: 2px;
    transition: 0.6s ease;
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

header.sticky ul li a {
    color: #f5cd79;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url(https://files.izi-by-edf.fr/uploads/images/offers/renovation-de-plan-de-travail-en-bois-massif-133.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2 span {
    color: #f5cd79;
}

.banner h2 {
    color: white;
    font-size: 65px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}


/* search */

.search-box {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -85%);
    background: #f5cd79;
    border-radius: 40px;
    padding: 10px;
    z-index: 1;
}

.search-box:hover>.search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover>.search-btn {
    background: white;
}

.search-btn {
    color: #f5cd79;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s ease;
    width: 0px;
    line-height: 40px;
}


/* GROS BLOCS //////*/

#bandeauGauche {
    border-radius: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

img {
    width: 50vw;
    height: auto;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 0;
}


/* Bandeau information préparation */

table {
    width: 100%;
    margin-top: 4vh;
    border-style: solid;
    border-color: #f5cd79;
    border-right-width: 0px;
    border-left-width: 0px;
}

#iconePlein {
    display: inline-block;
    margin-right: 3px;
    width: 13px;
    height: 13px;
    background-color: #f5cd79;
    border-radius: 50%;
}

#iconeVide {
    display: inline-block;
    margin-right: 3px;
    width: 13px;
    height: 13px;
    background-color: #e9cfc7;
    border-radius: 50%;
}

ul {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 0;
}

li {
    list-style-type: none;
}


/* Ingrédients et intérieur de recette */

#recette {
    display: flex;
    flex-direction: row;
    margin-top: 4vh;
    padding-bottom: 5vh;
    padding-left: 2vw;
}

#titreIngredient {
    padding-bottom: 4vh;
    font-size: 2em;
    color: #f5cd79;
}

#ingredients {
    flex: 1;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: auto;
    margin-right: 5vw;
    border-radius: 15px;
    border: solid gray 1px;
    box-shadow: 0 10px 6px -6px #777;
}

#recetteComplete {
    flex: 3;
}

.listeRecette {
    clear: both;
    list-style: none;
    padding-left: 2%;
}

.listeRecette li {
    margin: 2em 0;
    padding-top: 1em;
    display: block;
    position: relative;
    counter-increment: inst;
}

.listeRecette li::before {
    content: counter(inst);
    background: #f5cd79;
    opacity: 0.35;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    font-style: italic;
    text-shadow: 1px 1px rgba(255, 150, 0, 0.5);
    border-radius: 0 0.675em 0.675em 0;
    font-size: 1.5em;
    text-align: center;
    padding-top: 0;
    padding-left: 2.25%;
    left: -5%;
    top: -0.65em;
    height: 1.35em;
    width: 1.35em;
    position: absolute;
    transition: all 0.2s ease-in-out;
    z-index: 2;
}

@media (min-width: 33em) {
    .listeRecette li:before {
        border-radius: 50%;
        font-size: 1.5em;
        height: 1.35em;
        margin-left: 2.5%;
        padding-left: 0;
        padding-top: 0;
        top: -0.15em;
        width: 1.35em;
        z-index: 2;
    }
}


/* FOOTER*/

footer {
    background-color: orange;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu_footer {
    width: 50%;
}

#menu_footer>ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

#footer_reseau {
    width: 50%;
    height: 100%;
}

#footer_reseau>ul {
    display: flex;
    width: 100%;
    height: 100%;
}

#footer_reseau>ul>li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

#footer_reseau>ul>li>a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#menu_footer>ul>li>a {
    height: 100%;
    text-decoration: none;
}

#menu_footer>ul>li>a:hover {
    color: green;
}

#facebook {
    width: 15%;
    height: 15%;
}

#twitter {
    width: 20%;
    height: 50%;
}

#instagram {
    width: 20%;
    height: 30%;
}