* {
    margin: 0;
}

.wip {
    border: 1px solid red;
}

.top_header {
    display: flex;
    justify-content: space-around;
    height: 10vh;
}

.top_header>#site-search {
    height: 2vh;
}

.top_header>.button {
    height: 5vh;
}

#site-search {
    margin: auto 0;
}

.button {
    margin: auto 0;
}

.menu>nav>ul>li {
    list-style-type: none;
    display: inline;
    padding: 2vw;
}

footer>nav>ul>li {
    list-style-type: none;
    display: inline;
    padding: 1vw;
}


/* GROS BLOCS //////*/

#flexbox {
    display: flex;
    justify-content: center;
}

#bandeauGauche {
    flex: 3;
    margin: 0 5vw 0 15vw;
    border-radius: 25px;
    height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#bandeauDroite {
    flex: 1;
    margin: 0 5vw 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vw;
}


/* BANDEAU DE DROITE */

#recetteDuMois {
    background-color: #f5cd79;
    flex: 3;
    margin: 1vw 0;
    border-radius: 10px;
    font-size: 2em;
    text-align: center;
    padding-top: 1em;
}

#abonnezVous {
    background-color: #f5cd79;
    flex: 0.5;
    margin: 1vw 0;
    border-radius: 10px;
    font-size: 2em;
    text-align: center;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }

#abonnezVous:hover {
    animation: bounce 1s;
    background-color: #e15f41;
    color: white;
}


/* Formulaire - poster une recette */

#proposerRecette {
    background-color: #f5cd79;
    flex: 3;
    margin: 1vw 0;
    border-radius: 10px;   
}

#proposerRecette > p {
    font-size: 2vw;
    text-align: center;
}

#recipeForm {
    text-align: left;
    margin-top: 1vh;
    padding: 0 3em;
}

#userName {
    border-radius: 5px;
    background: white;
    border: none;
    padding: 0.5vw 1vw;
    margin-bottom: 0.5vw;
}

#userRecipe {
    border-radius: 5px;
    background: white;
    border: none;
    padding: 0.5vw 1vw;
    margin-bottom: 0.5vw;
}

#detailRecipe {
    border-radius: 5px;
    background: white;
    border: none;
    padding: 0.5vw 1vw;
    margin-bottom: 0.5vw;
}

button {
    border-radius: 5px;
    background:#e77f67;
    border: none;
    padding: 1vw 2vw;
}


/* BANDEAU DE GAUCHE */

#recettesGrossir {
    flex: 1;
    margin: 10px 0 10px 0;
    border-radius: 25px;
}

#recettesMaigrir {
    flex: 1;
    margin: 10px 0 10px 0;
    border-radius: 25px;
}

#recettesWild {
    flex: 1;
    margin: 10px 0 10px 0;
    border-radius: 25px;
}


/* RECETTES POUR PRENDRE DU POIDS */

#recettesGrossir {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#listeRecettesGrossir {
    display: flex;
    justify-content: space-between;
    height: 30vw;
}

#recette1G {
    flex: 1;
    margin: 1vw 1vw 0 1vw;
    border-radius: 25px;
    background-image: url(/photos/gratin.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 320px 460px;
}

#recette2G {
    background-color: rgb(143, 143, 163);
    flex: 1;
    margin: 1vw 1vw 0 1vw;
    border-radius: 25px;
}

#recette3G {
    background-color: rgb(143, 143, 163);
    flex: 1;
    margin: 1vw 1vw 0 1vw;
    border-radius: 25px;
}


/* Cards */

.middle {
    position: absolute;
    top: 40%;
    left: 42%;
    transform: translate(-42%, -40%);
    text-align: center;
}

.left {
    position: absolute;
    top: 40%;
    left: 19%;
    transform: translate(-19%, -40%);
    text-align: center;
}

.rigth {
    position: absolute;
    top: 40%;
    left: 65%;
    transform: translate(-65%, -40%);
    text-align: center;
}

.middle2 {
    position: absolute;
    top: 175%;
    left: 42%;
    transform: translate(-42%, -175%);
    text-align: center;
}

.left2 {
    position: absolute;
    top: 175%;
    left: 19%;
    transform: translate(-19%, -175%);
    text-align: center;
}

.rigth2 {
    position: absolute;
    top: 175%;
    left: 65%;
    transform: translate(-65%, -175%);
    text-align: center;
}

.middle3 {
    position: absolute;
    top: 310%;
    left: 42%;
    transform: translate(-42%, -310%);
    text-align: center;
}

.left3 {
    position: absolute;
    top: 310%;
    left: 19%;
    transform: translate(-19%, -310%);
    text-align: center;
}

.rigth3 {
    position: absolute;
    top: 310%;
    left: 65%;
    transform: translate(-65%, -310%);
    text-align: center;
}

.card {
    cursor: pointer;
    width: 18vw;
    height: 50vh;
}

.front,
.back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: 0.6s linear;
    border-radius: 15%;
}

.front img {
    height: 100%;
}

.front {
    transform: perspective(600px) rotateY(0deg);
}

.back {
    background: white;
    transform: perspective(600px) rotateY(180deg);
}

.back-content {
    color: #2c3e50;
    width: 100%;
}

.card:hover>.front {
    transform: perspective(600px) rotateY(-180deg)
}

.card:hover>.back {
    transform: perspective(600px) rotateY(0deg)
}


/* RECETTES POUR PERDRE DU POIDS */

#recettesMaigrir {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#listeRecettesMaigrir {
    display: flex;
    justify-content: space-between;
    height: 30vw;
}

#recette1M {
    background-color: rgb(143, 143, 163);
    flex: 1;
    margin: 1vw 1vw 0 1vw;
    border-radius: 25px;
}

#recette2M {
    background-color: rgb(143, 143, 163);
    flex: 1;
    margin: 1vw 1vw 0 1vw;
    border-radius: 25px;
}

#recette3M {
    background-color: rgb(143, 143, 163);
    flex: 1;
    margin: 1vw 1vw 0 1vw;
    border-radius: 25px;
}


/* RECETTES DE LA WILD */

#recettesWild {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#listeRecettesWild {
    display: flex;
    justify-content: space-between;
    height: 30vw;
}

#recette1W {
    flex: 1;
    margin: 1vw 1vw 0 1vw;
    border-radius: 25px;
}

#recette2W {
    background-color: rgb(143, 143, 163);
    flex: 1;
    margin: 1vw 1vw 0 1vw;
    border-radius: 25px;
}

#recette3W {
    background-color: rgb(143, 143, 163);
    flex: 1;
    margin: 1vw 1vw 0 1vw;
    border-radius: 25px;
}

.title {
    text-align: center;
}