* {
    margin: 0;
}

.wip {
    border: 1px solid red;
}

#logo {
    width: 10vw;
  }
  
  .top_header {
    display: flex;
    justify-content: space-around;
    height: 13vh;
    background-color: orange;
  }
  
  .top_header > #site_search {
    height: 2vh;
  }
  
  .top_header > .button {
    height: 7vh;
    width: 5vw;
    margin: auto 0;
  }
  
  #site_search {
    margin: auto 0;
    width: 30vw;
  }
  
  .menu {
    height: 4vh;
    background-color: yellow;
  }
  .menu > nav {
    height: 4vh;
  }
  
  .menu > nav > ul {
    list-style-type: none;
    text-align: center;
    padding: 1vh;
  }
  
  .menu > nav > ul > li {
    display: inline;
    margin: 5vw;
  }
  
  /* FOOTER*/
  
  footer {
    height: auto;
    background-color: orange;
    margin-top: 6vh;
  }
  
  /*footer > nav > ul {
    list-style-type: none;
    display: inline;
    text-align: right;
  }
  /*footer > nav > ul > li*/
  /*#menu_footer {
    display: inline;
    margin: 2vw;
  }*/
  
  #facebook {
    width: 2%;
    height: 2%;
  }

/* GROS BLOCS //////*/

#flexbox {
    display: flex;
    justify-content: center;
}

#bandeauGauche {
    flex: 3;
    margin: 0 5vw 0 15vw;
    border-radius: 25px;
    height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#bandeauDroite {
    flex: 1;
    margin: 0 5vw 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vw;
}


/* BANDEAU DE DROITE */

#recetteDuMois {
    background-color: brown;
    flex: 3;
    margin: 1vw 0;
    border-radius: 25px;
}

#abonnezVous {
    background-color: brown;
    flex: 1;
    margin: 1vw 0;
    border-radius: 25px;
}

#proposerRecette {
    background-color: brown;
    flex: 1;
    margin: 1vw 0;
    border-radius: 25px;
}


/* BANDEAU DE GAUCHE */

#recettesGrossir {
    flex: 1;
    margin: 10px 0 10px 0;
    border-radius: 25px;
}

#recettesMaigrir {
    flex: 1;
    margin: 10px 0 10px 0;
    border-radius: 25px;
}

#recettesWild {
    flex: 1;
    margin: 10px 0 10px 0;
    border-radius: 25px;
}


/* RECETTES POUR PRENDRE DU POIDS */

#recettesGrossir {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#listeRecettesGrossir {
    display: flex;
    justify-content: space-between;
    height: 30vw;
}

#recette1G {
    flex: 1;
    margin: 1vw 1vw 0 1vw;
    border-radius: 25px;
    background-image: url(/photos/gratin.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 320px 460px;
}

#recette2G {
    background-color: rgb(143, 143, 163);
    flex: 1;
    margin: 1vw 1vw 0 1vw;
    border-radius: 25px;
}

#recette3G {
    background-color: rgb(143, 143, 163);
    flex: 1;
    margin: 1vw 1vw 0 1vw;
    border-radius: 25px;
}


/* Cards */

.middle {
    position: absolute;
    top: 40%;
    left: 42%;
    transform: translate(-42%, -40%);
    text-align: center;
}

.left {
    position: absolute;
    top: 40%;
    left: 19%;
    transform: translate(-19%, -40%);
    text-align: center;
}

.rigth {
    position: absolute;
    top: 40%;
    left: 65%;
    transform: translate(-65%, -40%);
    text-align: center;
}

.middle2 {
    position: absolute;
    top: 175%;
    left: 42%;
    transform: translate(-42%, -175%);
    text-align: center;
}

.left2 {
    position: absolute;
    top: 175%;
    left: 19%;
    transform: translate(-19%, -175%);
    text-align: center;
}

.rigth2 {
    position: absolute;
    top: 175%;
    left: 65%;
    transform: translate(-65%, -175%);
    text-align: center;
}

.middle3 {
    position: absolute;
    top: 310%;
    left: 42%;
    transform: translate(-42%, -310%);
    text-align: center;
}

.left3 {
    position: absolute;
    top: 310%;
    left: 19%;
    transform: translate(-19%, -310%);
    text-align: center;
}

.rigth3 {
    position: absolute;
    top: 310%;
    left: 65%;
    transform: translate(-65%, -310%);
    text-align: center;
}

.card {
    cursor: pointer;
    width: 18vw;
    height: 50vh;
}

.front,
.back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: 0.6s linear;
    border-radius: 15%;
}

.front img {
    height: 100%;
}

.front {
    transform: perspective(600px) rotateY(0deg);
}

.back {
    background: white;
    transform: perspective(600px) rotateY(180deg);
}

.back-content {
    color: #2c3e50;
    width: 100%;
}

.card:hover>.front {
    transform: perspective(600px) rotateY(-180deg)
}

.card:hover>.back {
    transform: perspective(600px) rotateY(0deg)
}


/* RECETTES POUR PERDRE DU POIDS */

#recettesMaigrir {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#listeRecettesMaigrir {
    display: flex;
    justify-content: space-between;
    height: 30vw;
}

#recette1M {
    background-color: rgb(143, 143, 163);
    flex: 1;
    margin: 1vw 1vw 0 1vw;
    border-radius: 25px;
}

#recette2M {
    background-color: rgb(143, 143, 163);
    flex: 1;
    margin: 1vw 1vw 0 1vw;
    border-radius: 25px;
}

#recette3M {
    background-color: rgb(143, 143, 163);
    flex: 1;
    margin: 1vw 1vw 0 1vw;
    border-radius: 25px;
}


/* RECETTES DE LA WILD */

#recettesWild {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#listeRecettesWild {
    display: flex;
    justify-content: space-between;
    height: 30vw;
}

#recette1W {
    flex: 1;
    margin: 1vw 1vw 0 1vw;
    border-radius: 25px;
}

#recette2W {
    background-color: rgb(143, 143, 163);
    flex: 1;
    margin: 1vw 1vw 0 1vw;
    border-radius: 25px;
}

#recette3W {
    background-color: rgb(143, 143, 163);
    flex: 1;
    margin: 1vw 1vw 0 1vw;
    border-radius: 25px;
}

.title {
    text-align: center;
}