/*Formulaire*/

main {
  background-image: url("photos/serviette_grd.jpg");
  background-size: cover;
  width: 100%;
  margin: 0;
}

section > #boite {
  font-size: 2em;
}

h1 {
  text-align: center;
  font-size: 7vh;
  color: #eeaf79;
  /*margin-top: 10vh;*/
}

input {
  font-size: 2vh;
}

#formulaire_contact > p {
  text-align: center;
  font-size: 3vh;
  color: #eeaf79;
  margin-top: 2vh;
}

#boite {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
}

#name {
  width: 20vw;
  height: 5vh;
  margin-left: 5vw;
  /*border: 3px solid #f5cd79;*/
  border-radius: 10px;
}

#email {
  width: 20vw;
  height: 5vh;
  margin-top: 1vh;
  margin-left: 5vw;
  /*border: 3px solid #f5cd79;*/
  border-radius: 10px;
}
textarea {
  font-size: O.8em;
}
#message {
  width: 30vw;
  height: 20vh;
  margin-top: 8vh;
  margin-left: 5vw;
  /*border: 3px solid #f5cd79;*/
  border-radius: 10px;
}

#envoyer {
  margin-left: 5vw;
  height: 4vh;
  /*border: 3px solid #f5cd79;*/
  border-radius: 10px 100px / 120px;
}
